body{
    background-color: #B53471;
    font-size: 15px;
    color: #2c3e50;
    margin-left: 15px;}


    .contanie{
    display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: center;
}
.br{
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

#menu li{
        display: inline;
        padding: 15px;
    }
    #menu li a{
        text-decoration: none;
        color: #B53471;
        font-size: 15px;
    }
    #menu li a:hover{
        color: aliceblue;
    }
